<div class="row center-align" id="navbar">
  <div class="col s4 m4 l2 offset-l3 center-align li">
    <a href="/"><i class="small material-icons valign-wrapper">store</i></a>
  </div>
  <div class="col s4 m4 l2 center-align center-align li">
    <a href="about_me"><i class="small material-icons valign-wrapper">person_pin</i></a>
  </div>
  <div class="col s4 m4 l2 center-align li">
    <a href="portfolio"><i class="small material-icons valign-wrapper">dashboard</i></a>
  </div>
</div>
