<div class="about-me">
  <div class="container center-align">

    <h1 class="no-margin">About me</h1>

    <p center-align> I am an aspiring full-stack developer and I want to be great at it.<br>I was born in a small town, gained my adulthood in big cities across 5 counties and 3 continents.<br>
    After working as an account manager in Hong Kong for four years, I moved to Sydney where I am currently studying at Coder Factory Academy.
        </p>


    <div class="row">
      <div class="col s10 m10 l4 offset-l1 offset-s1 col-about">
        <div class="row no-margin center-align">
          Coder Factory Academy
        </div>
        <div class="row no-margin center-align">
          Diploma in Software Development
        </div>
        <div class="row center-align">
          Sydney, Australia
        </div>
        <div class="row no-margin center-align">
          University of Turin
        </div>
        <div class="row no-margin center-align">
          M.A. in International Management
        </div>
        <div class="row center-align">
          Turin, Italy
        </div>
        <div class="row no-margin center-align">
          Univeristy of Florence
        </div>
        <div class="row no-margin center-align">
          B.A. in Tourism Management
        </div>
        <div class="row center-align">
          Florence, Italy
        </div>
      </div>
      <div class="col s10 m10 l4 offset-l2 offset-s1 col-about">
        <div class="row ">
        </div>
        <div class="row no-margin center-align">
          People & Projects Limited
        </div>
        <div class="row no-margin center-align">
          Associate <br> May 2013 - Jan 2017
        </div>
        <div class="row center-align">
          Hong Kong
        </div>
        <div class="row no-margin center-align">
          Creatnet Services Limited
        </div>
        <div class="row no-margin center-align">
          Marketing Intern <br> Sep 2012 - Dec 2012
        </div>
        <div class="row center-align">
          Noida, India
        </div>
        <div class="row">
        </div>
      </div>
    </div>

    <h1>Skills</h1>

  </div>
</div>
