<div class="home">
  <div class="container">
    <div class="container home-container">
      <div class="row welcome-message no-margin center-align">
        <p><span style="font-weight:bold;">Aljosa</span> Musikic</p>
      </div>
      <div class="row">
        <div class="image center-align">
          <a href="about_me"><img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493553309/aljosaicon_500x500-min_qgszbf.png" class="z-depth-5"></a>
        </div>
        <div class="row welcome-message center-align">
          <p style="font-size:40px;"><span style="font-weight:bold;">Welcome</span> to my <a href="about_me" style="color:black;">website</a>!</p>
        </div>
      </div>
    </div>
  </div>
</div>
