<div class="cont-port">
<div class="container" style="padding-top:20px; padding-bottom:30px">
    <div class="row">

      <div class="col s10 m10 l6 offset-s1">
        <div class="card z-depth-5">
          <div class="card-image">
            <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493723692/Screen_Shot_2017-05-02_at_9.10.42_PM-min_hhvjpv.png">
            <span class="card-title">Personal Portfolio</span>
          </div>
          <div class="card-content">
            <p>This is my first portfolio made with bootstrap. It features parallax, side navbar and cool flipping cards.</p>
          </div>
          <div class="card-action">
            <a href="http://aljosa.herokuapp.com/">Heroku</a> <a href="https://github.com/Al-josh/CFA-Aljosa-Portfolio">GitHub</a>
          </div>
        </div>
      </div>

      <div class="col s10 m10 l6 offset-s1">
        <div class="card z-depth-5">
          <div class="card-image">
            <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493727063/Screen_Shot_2017-05-02_at_10.06.23_PM-min_pxz1bc.png">
            <span class="card-title">Foodocracy</span>
          </div>
          <div class="card-content">
            <p>Final project for the second term at CFA. It is a two sided market built with Ruby on Rails.</p>
          </div>
          <div class="card-action">
            <a href="https://food-foodocracy.herokuapp.com">Heroku</a> <a href="https://github.com/Al-josh/CFA-Project2-FoodRating">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s10 m10 l6 offset-s1">
        <div class="card z-depth-5">
          <div class="card-image">
            <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493732479/ksp_xydheh.png">
            <span class="card-title">Knowledge Sourcing Platform</span>
          </div>
          <div class="card-content">
            <p>A collaborative Ruby on Rails project done in a group of 4.</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/Al-josh/CFA-Knowledge-Sourcing-Platform">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col s10 m10 l6 offset-s1">
        <div class="card z-depth-5">
          <div class="card-image">
            <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493732485/airbnb_uieigz.png">
            <span class="card-title">Ruby on Rails</span>
          </div>
          <div class="card-content">
            <p>Class exercises (Twitter, Blog, Airbnb clones)</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/Al-josh?tab=repositories">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s10 m10 l6 offset-s1">
        <div class="card z-depth-5">
          <div class="card-image">
            <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493762512/Screen_Shot_2017-05-03_at_7.59.44_AM-min_bkjmgc.png">
            <span class="card-title">Animal Farm</span>
          </div>
          <div class="card-content">
            <p>My first JSS30 attempt</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/Al-josh/CFA-JS-Animal-Farm">GitHub</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
